<template>
  <div class="container">
    <div class="row py-5">
      <div class="col">
        <h2>
          Cartões
        </h2>
        <ul v-if="cartoes.length" class="list-group mt-5">
          <li
            v-for="(cartao, index) in cartoes"
            :key="index"
            :class="{ 'bg-light': cartaoSelecionado === cartoes[index] }"
            class="pointer list-group-item d-flex justify-content-between"
            @click="selecionarCartao(cartao)"
          >
            <div>{{ cartao.bandeira }}</div>
            <div>************{{ cartao.numero | numero }}</div>
          </li>
        </ul>
        <div v-else>
          Não há cartões
        </div>
        <small id="emailHelp" class="form-text text-muted mb-4">
          Clique
          <router-link :to="{ name: 'CadastroCartao' }">aqui</router-link>
          para cadastrar cartão</small
        >
        <div class="mt-5">
          <h3>Saldo:</h3>
          <p>{{ $store.getters.conta.saldo }}</p>
        </div>
        <div class="form-group" style="width: 200px">
          <label for="valor">Valor a ser Adicionado:</label>
          <input
            v-model="valor"
            type="number"
            class="form-control"
            id="valor"
            pattern="[0-9]+(\\.[0-9][0-9]?)?"
            required
          />
        </div>
        <div v-if="message.length" class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        <button @click.prevent="adicionar" type="submit" class="btn btn-dark">
          Adicionar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/services.js";

export default {
  name: "AdicionarSaldo",
  data() {
    return {
      cartoes: [],
      valor: 0,
      cartaoSelecionado: "none",
      message: ""
    };
  },
  filters: {
    numero(value) {
      return value.toString().slice(-4);
    }
  },
  methods: {
    async getCartoes() {
      const resp = await api.get(`cartao?cId=${this.$store.getters.conta.id}`);

      if (resp.status === 200) this.cartoes = resp.data;
    },
    async adicionar() {
      if (this.cartaoSelecionado !== "none") {
        if (this.valor > 0) {
          let saldo = +this.$store.getters.conta.saldo + +this.valor;
          const resp = await api.patch(
            `cliente/${this.$store.getters.conta.id}`,
            {
              saldo: saldo
            },
            {
              headers: {
                "Content-Type": "application/json"
              }
            }
          );
          if (resp.status === 200 || resp.status === 201) {
            this.$store.commit("saldo", saldo);
            this.$router.push({ name: "Home" });
          }
        } else {
          this.message = "Saldo precisa ser maior que 0.";
        }
      } else {
        this.message = "Selecione um cartão.";
      }
    },
    selecionarCartao(cartao) {
      this.cartaoSelecionado = cartao;
    }
  },
  created() {
    this.getCartoes();
  }
};
</script>

<style></style>
