<template>

  <div class="container">
    <div class="row py-5">
      <div class="col">
        <h1>Cadastro Produto</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form>
          <div class="form-group">
            <label for="nome">Nome*</label>
            <input
              v-model="nome"
              type="text"
              class="form-control"
              id="nome"
              required
            />
          </div>
          <div class="form-group">
            <label for="preco">Preço*</label>
            <input
              v-model="preco"
              type="number"
              class="form-control"
              id="preco"
              pattern="[0-9]+(\\.[0-9][0-9]?)?"
              required
            />
          </div>
          <div class="form-group">
            <label for="estoque">Estoque*</label>
            <input
              v-model="estoque"
              type="number"
              class="form-control"
              id="estoque"
              required
            />
          </div>
          <div class="form-group">
            <label for="topico">Tópico*</label>
            <input
              v-model="topico"
              type="text"
              class="form-control"
              id="topico"
              required
            />
          </div>
          <div class="custom-file mb-4 mt-2">
            <input
              class="custom-file-input"
              @change="imagem"
              type="file"
              id="imagem"
              name="imagem"
              required
            />
            <label class="custom-file-label" for="imagem">{{
              uploadText
            }}</label>
          </div>
          <div class="form-check mb-4">
            <input
              type="checkbox"
              class="form-check-input"
              id="maior"
              v-model="maior"
            />
            <label class="form-check-label" for="maior"
              >Produto para maior de 18</label
            >
          </div>
          <div v-if="message.length" class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          <button @click.prevent="cadastrar" type="submit" class="btn btn-dark">
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/services.js";

export default {
  name: "CadastroProdutos",
  data() {
    return {
      nome: "",
      preco: "",
      estoque: null,
      topico: "",
      uploadText: "Selecionar Imagem",
      lojas: null,
      produtos: null,
      message: "",
      maior: false
    };
  },
  methods: {
    imagem() {
      const file = document.querySelector("#imagem").files[0];
      if (file) {
        this.uploadText = file.name;
      } else {
        this.uploadText = "Selecionar Imagem";
      }
    },
    async cadastrar() {
      const file = document.querySelector("#imagem").files[0];
      if (
        this.nome !== "" &&
        this.preco !== "" &&
        this.estoque !== null &&
        this.topico !== "" &&
        file &&
        this.loja !== "selecione"
      ) {
        const toBase64 = file =>
          new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
          });

        const img = await toBase64(file);

        const resp = await api.post(
          "produto",
          {
            nome: this.nome,
            lid: this.$store.getters.conta.id,
            preco: this.preco,
            topico: this.topico,
            estoque: this.estoque,
            img: img,
            idade: this.maior
          },
          {
            headers: {
              "Content-Type": "application/json"
            }
          }
        );
        if (resp.status === 200 || resp.status === 201)
          this.$router.push({ name: "Home" });
      } else {
        this.message = "Preencha todos campos.";
      }
    },
    async getProdutos() {
      const resp = await api.get(`produto`);
      if (resp.status === 200) this.produtos = resp.data;
    }
  },
  created() {
    this.getProdutos();
  }
};
</script>

<style></style>
