<template>
  <div class="container">
    <div class="row py-5">
      <div class="col">
        <h1>Cadastro Loja</h1>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <form>
          <div class="form-group">
            <label for="nome">Nome*</label>
            <input
              v-model="nome"
              type="text"
              class="form-control"
              id="nome"
              required
            />
          </div>
          <div class="form-group">
            <label for="proprietario">Proprietário*</label>
            <input
              v-model="proprietario"
              type="text"
              class="form-control"
              id="proprietario"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email*</label>
            <input
              v-model="email"
              type="email"
              class="form-control"
              id="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="senha">Senha*</label>
            <input
              v-model="senha"
              type="password"
              class="form-control"
              id="senha"
              required
            />
          </div>
          <div class="form-group">
            <label for="cnpj">CNPJ*</label>
            <input
              v-model="cnpj"
              type="number"
              class="form-control"
              id="cnpj"
              pattern="[0-9]{2}\.?[0-9]{3}\.?[0-9]{3}\/?[0-9]{4}\-?[0-9]{2}"
              required
            />
          </div>
          <div v-if="message.length" class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          <button @click.prevent="cadastrar" type="submit" class="btn btn-dark">
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/services.js";
export default {
  name: "CadastroLoja",
  data() {
    return {
      nome: "",
      email: "",
      senha: "",
      cnpj: "",
      proprietario: "",
      message: ""
    };
  },
  methods: {
    async cadastrar() {
      if (
        this.nome !== "" &&
        this.email !== "" &&
        this.senha !== "" &&
        this.cnpj !== "" &&
        this.proprietario !== ""
      ) {
        const resp = await api.post(
          "loja",
          {
            nome: this.nome,
            email: this.email,
            senha: this.senha,
            cnpj: this.cnpj,
            proprietario: this.proprietario,
            tipoConta: "loja"
          },
          {
            headers: {
              "Content-Type": "application/json"
            }
          }
        );
        if (resp.status === 200 || resp.status === 201)
          this.$router.push({ name: "Login" });
      } else {
        this.message = "Preencha todos campos.";
      }
    },
    async getLojas() {
      const resp = await api.get(`loja`);
      if (resp.status === 200) this.lojas = resp.data;
    }
  },
  created() {
    this.getLojas();
  }
};
</script>

<style></style>
