<template>
  <div class="container">
    <div class="row py-5">
      <div class="col">
        <h1>Cadastro Cliente</h1>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <form>
          <div class="form-group">
            <label for="nome">Nome*</label>
            <input
              v-model="nome"
              type="text"
              class="form-control"
              id="nome"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email*</label>
            <input
              v-model="email"
              type="email"
              class="form-control"
              id="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="senha">Senha*</label>
            <input
              v-model="senha"
              type="password"
              class="form-control"
              id="senha"
              required
            />
          </div>
          <div class="form-group">
            <label for="cpf">CPF*</label>
            <input
              v-model="cpf"
              type="number"
              class="form-control"
              id="cpf"
              pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}"
              required
            />
          </div>
          <div class="form-check mb-4">
            <input
              type="checkbox"
              class="form-check-input"
              id="maior"
              v-model="maior"
            />
            <label class="form-check-label" for="maior">Sou maior de 18</label>
          </div>
          <div v-if="message.length" class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          <button @click.prevent="cadastrar" type="submit" class="btn btn-dark">
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/services.js";
export default {
  name: "CadastroLoja",
  data() {
    return {
      nome: "",
      email: "",
      senha: "",
      cpf: "",
      maior: false,
      message: ""
    };
  },
  methods: {
    async cadastrar() {
      if (
        this.nome !== "" &&
        this.email !== "" &&
        this.senha !== "" &&
        this.cpf !== ""
      ) {
        const resp = await api.post(
          "cliente",
          {
            nome: this.nome,
            email: this.email,
            senha: this.senha,
            cpf: this.cpf,
            tipoConta: "cliente",
            saldo: 0,
            idade: this.maior
          },
          {
            headers: {
              "Content-Type": "application/json"
            }
          }
        );
        if (resp.status === 200 || resp.status === 201)
          this.$router.push({ name: "Login" });
      } else {
        this.message = "Preencha todos campos.";
      }
    },
    async getLojas() {
      const resp = await api.get(`loja`);
      if (resp.status === 200) this.lojas = resp.data;
    }
  },
  created() {
    this.getLojas();
  }
};
</script>

<style></style>
