<template>
  <div class="container">
    <div class="row py-5">
      <div class="col">
        <h1>Cadastro Cartao</h1>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <form>
          <div class="form-group">
            <label for="nome">Nome*</label>
            <input
              v-model="nome"
              type="text"
              class="form-control"
              id="nome"
              required
            />
          </div>
          <div class="form-group">
            <label for="numero">Numero*</label>
            <input
              v-model="numero"
              type="number"
              class="form-control"
              id="numero"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">CVV*</label>
            <input
              v-model="cvv"
              type="cvv"
              class="form-control"
              id="cvv"
              max="999"
              required
            />
          </div>
          <div class="form-group">
            <label for="validade">Validade*</label>
            <input
              v-model="validade"
              type="month"
              min="2020-11"
              value="2020-11"
              class="form-control"
              id="validade"
              required
            />
          </div>
          <div class="form-group">
            <label for="bandeira">Bandeira*</label>
            <input
              v-model="bandeira"
              type="text"
              class="form-control"
              id="bandeira"
              required
            />
          </div>
          <div class="form-group">
            <label for="cpf">CPF*</label>
            <input
              v-model="cpf"
              type="number"
              class="form-control"
              id="cpf"
              pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}"
              required
            />
          </div>
          <div v-if="message.length" class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          <button @click.prevent="cadastrar" type="submit" class="btn btn-dark">
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/services.js";
export default {
  name: "CadastroLoja",
  data() {
    return {
      nome: "",
      numero: "",
      cvv: "",
      validade: "",
      cpf: "",
      bandeira: "",
      message: ""
    };
  },
  methods: {
    async cadastrar() {
      if (
        this.nome !== "" &&
        this.numero !== "" &&
        this.cvv !== "" &&
        this.validade !== "" &&
        this.cpf !== "" &&
        this.bandeira !== ""
      ) {
        const resp = await api.post(
          "cartao",
          {
            nome: this.nome,
            numero: this.numero,
            cvv: this.cvv,
            validade: this.validade,
            cpf: this.cpf,
            bandeira: this.bandeira,
            cId: this.$store.getters.conta.id
          },
          {
            headers: {
              "Content-Type": "application/json"
            }
          }
        );
        if (resp.status === 200 || resp.status === 201)
          this.$router.push({ name: "Home" });
      } else {
        this.message = "Preencha todos campos.";
      }
    }
  }
};
</script>

<style></style>
