<template>
  <div class="container">
    <div class="row py-5">
      <div v-if="getCarrinho().length" class="col">
        <h2>Carrinho</h2>
        <ul class="list-group mt-5">
          <li
            v-for="(produto, index) in getCarrinho()"
            :key="index"
            class="list-group-item d-flex justify-content-between"
          >
            <div>{{ produto.produto }}</div>
            <div>{{ produto.quantidade }} x</div>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div>Total</div>
            <div>R$ {{ getTotal() }}</div>
          </li>
        </ul>
        <div class="mt-5">
          Seu saldo é de {{ $store.getters.conta.saldo }} reais
        </div>
        <div
          v-if="$store.getters.conta.saldo < this.getTotal()"
          class="alert alert-danger mt-3"
          role="alert"
        >
          Saldo insuficiente
        </div>
        <button @click="comprar" class="btn btn-dark mt-5">
          Comprar
        </button>
      </div>
      <div class="mt-5" v-else>
        Sem produtos
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/services.js";

export default {
  name: "Carrinho",
  computed: {
    carrinho() {
      return this.$store.getters.carrinho;
    }
  },
  methods: {
    getCarrinho() {
      if (this.$store.getters.carrinho)
        return this.$store.getters.carrinho.filter(
          value => value.quantidade > 0
        );
    },
    getTotal() {
      let total = 0;
      this.getCarrinho().forEach(produto => {
        total += +produto.preco.replace(",", ".") * produto.quantidade;
      });
      return total;
    },
    async comprar() {
      if (this.$store.getters.conta.saldo > this.getTotal()) {
        let saldo = this.$store.getters.conta.saldo - this.getTotal();

        const resp = await api.patch(
          `cliente/${this.$store.getters.conta.id}`,
          {
            saldo: saldo
          },
          {
            headers: {
              "Content-Type": "application/json"
            }
          }
        );
        if (resp.status === 200 || resp.status === 201) {
          this.$store.commit("saldo", saldo);
          this.$router.push({ name: "Home" });
        }
      }
    }
  }
};
</script>

<style></style>
