<template>
  <div class="container">
    <div v-if="produtos">
      <div class="row py-5">
        <div class="col">
          <h1>Produtos</h1>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col d-flex justify-content-end">
          <div v-if="lojas" class="form-group mr-3" style="min-width: 160px">
            <label for="loja">Lojas</label>
            <select v-model="loja" id="loja" class="form-control">
              <option selected value="selecione">Selecione</option>
              <option v-for="loja in lojas" :value="loja.id" :key="loja.id">
                {{ loja.nome }}
              </option>
            </select>
          </div>
          <div
            v-if="getTopicos().length"
            class="form-group"
            style="min-width: 160px"
          >
            <label for="topico">Topico</label>
            <select v-model="topico" id="topico" class="form-control">
              <option selected value="selecione">Selecione</option>
              <option
                v-for="topico in getTopicos()"
                :value="topico"
                :key="topico"
              >
                {{ topico }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div v-if="filterProdutos" class="row">
        <div
          class="col-md-4"
          v-for="(produto, index) in filterProdutos"
          :key="produto.id"
        >
          <div class="card mb-4">
            <p class="ml-1">
              <span class="badge badge-pill badge-dark">{{
                produto.topico
              }}</span>
            </p>
            <div class="d-flex align-items-center" style="height: 300px">
              <img :src="produto.img" class="card-img-top p-3 pt-3 img-fluid" />
            </div>
            <div class="card-body">
              <h4 class="card-title">{{ produto.nome }}</h4>
              <h5 v-if="lojas">
                {{ lojas.filter(loja => loja.id === produto.lid)[0].nome }}
              </h5>
              <p class="card-text">{{ produto.preco | preco }}</p>
              <div
                class="d-flex align-items-center justify-content-between my-3"
                style="height: 60px"
              >
                <div>{{ produto.estoque }} disponível</div>
                <div class="d-flex align-items-center">
                  <div>
                    <button
                      v-if="totalArray[index] < produto.estoque"
                      class="btn-produto"
                      @click="add(index)"
                    >
                      <span class="material-icons pointer">
                        add_circle_outline
                      </span>
                    </button>
                    <button
                      v-if="totalArray[index] > 0"
                      class="btn-produto mr-2"
                      @click="remove(index)"
                    >
                      <span class="material-icons pointer">
                        remove_circle_outline
                      </span>
                    </button>
                  </div>
                  <span class="mr-2">{{ totalArray[index] }}</span>
                </div>
              </div>
              <router-link :to="{ name: 'carrinho' }" class="btn btn-dark">
                Comprar
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5" v-else>Não há produtos</div>
  </div>
</template>

<script>
import { api } from "@/services.js";
export default {
  name: "Home",
  data() {
    return {
      filterProdutos: [],
      loja: "selecione",
      topico: "selecione",
      produtos: null,
      lojas: null,
      message: "",
      totalArray: []
    };
  },
  filters: {
    preco: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.replace(".", ",").includes(",")
        ? value.replace(".", ",")
        : value.replace(".", ",") + ",00";
    }
  },
  computed: {
    quantidadeProdutos() {
      if (this.produtos) return this.produtos.length;
      else return 0;
    },
    carrinho() {
      const array = [];
      this.totalArray.forEach((quant, index) => {
        array.push({
          produto: this.produtos[index].nome,
          preco: this.produtos[index].preco,
          quantidade: quant
        });
      });
      return array;
    }
  },
  watch: {
    carrinho() {
      this.$store.commit("carrinho", this.carrinho);
    },
    topico() {
      if (this.produtos) {
        if (this.topico !== "selecione") {
          this.loja = "selecione";
          this.filterProdutos = this.produtos.filter(
            produto => produto.topico === this.topico
          );
        } else if (this.topico === "selecione" && this.loja === "selecione") {
          this.filterProdutos = this.produtos;
        }
      }
    },
    loja() {
      if (this.lojas && this.produtos) {
        if (this.loja !== "selecione") {
          this.topico = "selecione";
          this.filterProdutos = this.produtos.filter(
            produto => produto.lid === +this.loja
          );
        } else if (
          this.topico === "selecione" &&
          this.loja === "selecione" &&
          this.produtos
        ) {
          this.filterProdutos = this.produtos;
        }
      }
    },
    quantidadeProdutos() {
      this.getTotal();
    }
  },
  methods: {
    remove(index) {
      const valor = this.totalArray[index] - 1;
      this.totalArray.splice(index, 1, valor);
    },
    add(index) {
      const valor = this.totalArray[index] + 1;
      this.totalArray.splice(index, 1, valor);
    },
    getTotal() {
      for (let index = 0; index < this.quantidadeProdutos; index++) {
        this.totalArray.push(0);
      }
    },
    getTopicos() {
      const array = [];
      if (this.produtos) {
        this.produtos.forEach(produto => {
          if (!array.includes(produto.topico)) {
            array.push(produto.topico);
          }
        });
        return array;
      }
      return array;
    },
    async getLojas() {
      const resp = await api.get(`loja`);
      if (resp.status === 200 || resp.status === 304) this.lojas = resp.data;
    },
    async getProdutos() {
      const resp = await api.get(`produto`);
      if (resp.status === 200) {
        this.produtos = resp.data;
        if (
          this.$store.getters.conta.tipoConta === "loja" ||
          this.$store.getters.conta.idade
        )
          this.filterProdutos = this.produtos;
        else
          this.filterProdutos = this.produtos.filter(produto => !produto.idade);
      }
    }
  },
  created() {
    this.getProdutos();
    this.getLojas();
  }
};
</script>

<style lang="scss">
.btn-produto {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}
</style>
