<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5 mt-5">
        <form class="card p-5 mt-5">
          <h4>Login</h4>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input
              v-model="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input
              v-model="senha"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>

          <small id="emailHelp" class="form-text text-muted my-2">
            Clique
            <router-link :to="{ name: 'CadastroClientes' }">aqui</router-link>
            para cadastrar</small
          >
          <small id="emailHelp" class="form-text text-muted mb-4">
            Clique
            <router-link :to="{ name: 'CadastroLojas' }">aqui</router-link>
            para cadastrar loja</small
          >
          <div v-if="message.length" class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          <button @click.prevent="login" type="submit" class="btn btn-dark">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/services.js";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      senha: "",
      message: ""
    };
  },
  methods: {
    async login() {
      if (this.email !== "" && this.senha !== "") {
        const resp = await api.get(
          `cliente?email=${this.email}&senha=${this.senha}`
        );
        if (resp.status === 200 && resp.data.length) {
          this.$store.commit("login", resp.data[0]);
          this.$router.push({ name: "Home" });
        } else {
          const resp = await api.get(
            `loja?email=${this.email}&senha=${this.senha}`
          );
          if (resp.status === 200 && resp.data.length) {
            this.$store.commit("login", resp.data[0]);
            this.$router.push({ name: "CadastroProdutos" });
          } else {
            this.message = "Usuário não existe.";
          }
        }
      } else {
        this.message = "Preencha todos os campos.";
      }
    }
  }
};
</script>

<style></style>
