<template>
  <div class="d-flex justify-content-center mt-5">
    Nada aqui :(
  </div>
</template>

<script>
export default {
  name: "notFound",
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped></style>
