<template>
  <div>
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
      <router-link class="navbar-brand text-white" to="/"
        >pAPP Filas</router-link
      >
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link class="text-white" :to="{ name: 'AdicionarSaldo' }"
              >Adicionar Saldo</router-link
            >
          </li>
        </ul>
      </div>
      <div class="d-flex ">
        <div class="d-flex align-items-center" v-if="$store.getters.login">
          <a href="#" @click.prevent="logOut" class="text-white">LogOut</a>
        </div>
        <div
          class="d-flex align-items-center ml-4"
          v-if="$store.getters.conta.tipoConta === 'cliente'"
        >
          <router-link :to="{ name: 'carrinho' }">
            <span class="material-icons text-white">shopping_cart</span>
          </router-link>
          <span class="badge badge-pill badge-danger mb-4">{{ total }}</span>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "TheHeader",
  computed: {
    carrinho() {
      return this.$store.getters.carrinho;
    },
    total() {
      let total = 0;
      this.carrinho.forEach(produto => {
        total += produto.quantidade;
      });
      return total;
    }
  },
  methods: {
    logOut() {
      this.$store.commit("logOut");
      this.$router.push({ name: "Login" });
    }
  }
};
</script>

<style></style>
